@use './variables' as *;

@mixin displayFlex($align: center, $justify: center, $direction: column) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
  flex-direction: column;
}

@mixin fontStyling(
  $weight: $baseFontWeight,
  $size: $baseFontSize,
  $color: $baseTextColor,
  $family: $paragraphFont
) {
  font-family: $family;
  font-size: $size;
  font-weight: $weight;
  color: $color;
}
