//Fonts
$baseFont: 'PT Sans', sans-serif;
$loadingFont: 'Righteous', sans-serif;

//Fontweights:
$headerFontWeight: 700;
$baseFontWeight: 400;

//FontSizes:
$baseFontSize: 20px;
$fontSizeSm: 14px;

//Colors
$baseTextColor: #222222;
$loadingFontColor: #ffffff;

// Alarm and break-view backround
$backgroundColor: rgba(0, 0, 0, 1);

// Base page size
$pageWitdh: 375px;
$pageHeight: 667px;
