//Fonts
$baseFont: 'PT Sans', sans-serif;
$loadingFont: 'Righteous', sans-serif;

//Fontweights:
$headerFontWeight: 700;
$baseFontWeight: 400;

//FontSizes:
$baseFontSize: 20px;
$fontSizeSm: 14px;
$fontSizeBg: 24px;

//Colors
$baseTextColor: #222222;
$loadingFontColor: #ffffff;

// Timer, Alarm and break-view backround
$timerBackround: #eeeeee;
$backgroundColor: rgb(0, 0, 0);

// Base page size
$pageWitdh: 375px;
$pageHeight: 667px;

// Components general sizing
$componentWidth: 279px;
