@use '../../sass' as *;

.timer {
  background-color: $timerBackround;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;

  .timer__incrementer {
    width: 279px;
    height: 118px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    img {
      width: 48px;
      height: 48px;
    }

    &--minutes {
      font-family: $baseFont;
      font-size: 80px;
      color: $baseTextColor;
      margin: 0;
    }
    &--text {
      font-family: $baseFont;
      font-size: 16px;
      color: rgba(34, 34, 34, 0.6);
    }
  }

  .controls {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 279px;
    align-items: flex-start;
    font-family: $baseFont;
    color: $baseTextColor;
    font-size: $baseFontSize;
  }

  .start {
    font-family: $baseFont;
    font-weight: 700;
    font-size: $fontSizeBg;
    background-color: $timerBackround;
    color: $baseTextColor;
    width: $componentWidth;
    height: 51px;
    border: 1.5px solid black;
    border-radius: 5px;
  }
}
